---
// Importa los componentes necesarios
import ExternalLayout from "@/layouts/ExternalLayout.astro";
---

<ExternalLayout>
  <div
    class="mx-auto flex max-w-screen-lg flex-col items-center pb-16 pt-24 text-center"
  >
    <p>Dernière mise à jour le 26 juillet 2024</p>
    <h1 class="heading-3 sm:heading-2 pb-10 pt-3">
      Politique de confidentialité
    </h1>
  </div>
  <div>
    <section class="grid-container">
      <article>
        <h3>Acceptation de la politique de confidentialité</h3>
        <p>
          Le cours inclut l'inclusion des données de l'élève dans la base de
          données de CapitanBrush. L'élève peut demander la suppression de ses
          données en envoyant un e-mail à <a
            href="mailto:captianbrush@gmail.com"
            >capitanbrush at gmail punto com</a
          > avec l'objet "supprimer données".
        </p>

        <p>
          Le cours inclut l'envoi d'une newsletter informative avec des conseils
          de navigation, d'ingénierie, de finance et de travail sur les
          méga-yachts.
        </p>
        <p>
          ugo Perea Lisbona, avec NIF 53371656H et adresse à Paseo Larios 1, 3C,
          Torre del Mar cp 29740 (Espagne)
        </p>
      </article>
    </section>
  </div>
</ExternalLayout>
