---
// Importa los componentes necesarios
import ExternalLayout from "@/layouts/ExternalLayout.astro";
---
<ExternalLayout>
  <div
    class="mx-auto flex max-w-screen-lg flex-col items-center pb-16 pt-24 text-center"
  >
    <p>Dernière mise à jour le 26 juillet 2024</p>
    <h1 class="heading-3 sm:heading-2 pb-10 pt-3">Termes et Conditions</h1>
  </div>
  <div>
    <section class="grid-container">
      <article>
        <p>
          Ces conditions de service s'appliquent à votre accès et à l'utilisation du site web de Capitán Brush. Veuillez les lire attentivement.
        </p>
        <h3>Acceptation des Termes</h3>
        <p>
          e prix du cours n'est pas remboursable. L'accès aux matériaux en ligne est accordé à l'élève jusqu'à ce qu'il obtienne son premier emploi. Toute distribution, copie, plagiat ou accès non autorisé et non consensuel avec le mentor de tout contenu du cours, y compris le contenu des blocs, les vidéos, le mentorat, les contacts et les fichiers joints, est expressément interdit et sera pénalisé d'un paiement 100 fois supérieur à la valeur du matériel dont les droits ont été enfreints. Le mentorat en ligne peut être reprogrammé en accord avec le mentor avec au moins 3 jours de préavis. Après le mentorat et pendant que l'élève cherche son premier emploi, un support est offert via *WhatsApp* pour des questions ponctuelles
          <a
            href="mailto:captianbrush@gmail.com">capitanbrush@gmail.com</a
          >.
        </p>
        <h3>Modifications de ces Termes</h3>
        <p>
          Nous nous réservons le droit de modifier ces termes et conditions à tout moment. En cas de modifications, celles-ci prendront effet deux jours après leur publication. Il est de votre responsabilité de consulter ces termes.
        </p>
        <p>
          Si vous acceptez d'utiliser le service, alors vous acceptez les modifications effectuées.
        </p>
        <h3>Politique de Confidentialité</h3>
        <p>
          Pour obtenir des informations sur la manière dont nous recueillons et utilisons les informations des utilisateurs du Service, veuillez consulter notre <a href="/fr/privacy/">politique de confidentialité.</a
          >.
        </p>
        <h3>Services de Tiers</h3>
        <p>
          De temps en temps, nous pouvons vous fournir des liens vers des sites web ou des services tiers qui ne nous appartiennent pas et que nous ne contrôlons pas. Votre utilisation du service peut également inclure l'utilisation d'applications développées ou détenues par un tiers. Votre utilisation de ces applications, sites web et services tiers est régie par leurs propres termes de contrat, politiques de service ou de confidentialité. Nous vous encourageons à lire les termes et conditions ainsi que la politique de confidentialité de toute application, site web ou service tiers que vous visitez ou utilisez.

        </p>
       
        <h3>Informations de Contact</h3>
        <p>
          Les questions ou commentaires sur le Service peuvent être adressés à nous à l'adresse e-mail <a href="mailto:captianbrush@gmail.com"
            >capitanbrush at gmail punto com</a
          >
        </p>
      </article>
    </section>
  </div>
</ExternalLayout>
