---
// Importa los componentes necesarios
import ExternalLayout from "@/layouts/ExternalLayout.astro";
---

<ExternalLayout>
  <div
    class="mx-auto flex max-w-screen-lg flex-col items-center pb-16 pt-24 text-center"
  >
    <p>Last updated on July 26, 2024</p>
    <h1 class="heading-3 sm:heading-2 pb-10 pt-3">Privacy Policy</h1>
  </div>
  <div>
    <section class="grid-container">
      <article>
        <h3>Acceptance of the Privacy Policy</h3>
        <p>
          The course includes the inclusion of the student's data in the
          CapitanBrush database. The student can request the deletion of their
          data by sending an email to <a href="mailto:captianbrush@gmail.com"
            >capitanbrush at gmail punto com</a
          > with the subject "delete data".
        </p>

        <p>
          The course includes the sending of an informative newsletter with tips
          on navigation, engineering, finance, and working on mega yachts.
        </p>
        <p>
          Xolo Go OÜ - Hugo Andrés Perea Lisbona, VAT number EE102156920
        </p>
        <p>
          Paju tn 1a, 50603 Tartu, Tartu Maakond, Estonia
        </p>
      </article>
    </section>
  </div>
</ExternalLayout>
