---
// Importa los componentes necesarios
import ExternalLayout from "@/layouts/ExternalLayout.astro";
---

<ExternalLayout>
  <div
    class="mx-auto flex max-w-screen-lg flex-col items-center pb-16 pt-24 text-center"
  >
    <p>Last updated on July 26, 2024</p>
    <h1 class="heading-3 sm:heading-2 pb-10 pt-3">Terms and Conditions</h1>
  </div>
  <div>
    <section class="grid-container">
      <article>
        <p>
          These terms of service apply to your access and use of the Capitán
          Brush website. Please read them carefully.
        </p>
        <h3>Acceptance of Terms</h3>
        <p>
          The course fee is non-refundable. Access to online materials is
          granted to the student until they secure their first job. Any
          distribution, copying, plagiarism, or unauthorized and unapproved
          access with the mentor to any course content, including block content,
          videos, mentoring, contacts, and attachments, is expressly prohibited
          and will be penalized with a payment 100 times the value of the
          infringed material. Online mentoring can be rescheduled in agreement
          with the mentor with at least 3 days' notice. After the mentoring and
          while the student is seeking their first job, support is offered via
          *WhatsApp* for occasional inquiries.
          <a href="mailto:captianbrush@gmail.com">capitanbrush@gmail.com</a>.
        </p>
        <h3>Changes to these Terms</h3>
        <p>
          We reserve the right to modify these terms and conditions at any time.
          If changes are made, they will be effective two days after their
          publication. It is your responsibility to review these terms.
        </p>
        <p>
          If you agree to use the service, then you accept the changes made.
        </p>
        <h3>Privacy Policy</h3>
        <p>
          For information on how we collect and use information about users of
          the Service, please see our <a href="/en/privacy/">privacy policy</a>.
        </p>
        <h3>Third-Party Services</h3>
        <p>
          From time to time, we may provide you with links to third-party
          websites or services that we do not own or control. Your use of the
          service may also include the use of applications developed or owned by
          a third party. Your use of such third-party applications, websites,
          and services is governed by their own terms of service or privacy
          policies. We encourage you to read the terms and conditions and
          privacy policy of any third-party application, website, or service you
          visit or use.
        </p>

        <h3>Contact Information</h3>
        <p>
          Questions or comments about the Service may be directed to us at the
          email address <a href="mailto:captianbrush@gmail.com"
            >capitanbrush at gmail punto com</a
          >
        </p>
      </article>
    </section>
  </div>
</ExternalLayout>
