---
// Importa los componentes necesarios
import MainLayout from "@/layouts/MainLayout.astro";
import ContactSection from "@components/sections/misc/ContactSection.astro";
import { SITE } from "@data/constants";

// Define el título de la página
const pageTitle: string = `Sobre mí | ${SITE.title}`;

// Utilizando MainLayout para el diseño exterior de la página, y definiendo meta para propósitos de SEO
---

<MainLayout
  lang="es"
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://capitanbrush.es/contact",
    url: "https://capitanbrush.es/contact",
    name: "Contáctanos | Capitanbrush",
    description:
      "¿Tienes preguntas sobre el curso? Ponte en contacto y crearemos la solución perfecta mediante una mentoría y nuestros servicios.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://capitanbrush.es",
      name: "Capitanbrush",
      description:
        "Capitanbrush ofrece un curso completo de cómo trabajar en la industria de los mega yates.",
    },
    inLanguage: "es",
  }}
>
  <div
    class="mx-auto flex max-w-screen-lg flex-col items-center pb-16 pt-24 text-center"
  >
    <h1
      class="text-2xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
    >
      ¿Quién es Capitán Brush?
    </h1>
    <div>
      <p class="mt-1 text-pretty text-neutral-800 dark:text-neutral-600">
        Descubre la Historia de Capitán Brush
      </p>
      <p class="text-sm text-neutral-600 dark:text-neutral-400">
        Estimados navegantes, hoy queremos presentarles a una figura inspiradora en el mundo de la navegación: Capitán Brush. Con una pasión inquebrantable por el mar y una vida llena de aventuras, Capitán Brush no solo ha dejado su huella en el océano, sino que también ha encontrado la manera de equilibrar su vida profesional con sus pasatiempos personales.
      </p>
      <p class="text-sm text-neutral-600 dark:text-neutral-400"><strong>Un hombre de muchas pasiones:</strong></p>
      <ul>
        <li>
          Pintura: Capitán Brush ha encontrado una forma de expresarse a través del arte, capturando la majestuosidad del mar en sus lienzos.
        </li>
        <li>
          Artes Marciales: La disciplina y el control aprendidos en las artes marciales han sido fundamentales en su vida y carrera.
        </li>
        <li>
          Kitesurf: Deslizarse sobre las olas con una tabla de kitesurf es una de las maneras favoritas de Capitán Brush para experimentar la libertad del mar.
        </li>
        <li>
          Viajar: Explorar nuevos lugares y culturas siempre ha sido una parte esencial de su vida. Desde cruzar el Atlántico hasta enseñar a otros a navegar, la vida de Capitán Brush es una historia de pasión, dedicación y aventuras.
        </li>
      </ul>
    </div>
  </div>
  <div>
    <section class="grid-container mb-10">
      <article>
        <p>
          <strong>De Ingeniero a Navegante: La Transformación de Capitán Brush</strong> Estimados navegantes, hoy exploramos un capítulo fascinante en la vida de Capitán Brush: su transición de una exitosa carrera en ingeniería a cruzar el Atlántico a vela. <strong>Un Cambio de Rumbo Audaz:</strong> - <strong>Carrera en Ingeniería:</strong> Capitán Brush comenzó su carrera en el campo de la ingeniería, trabajando en proyectos innovadores y desafiantes. - <strong>Decisión de Dejarlo Todo:</strong> A pesar de su éxito, sentía que algo faltaba. Así que tomó la audaz decisión de dejar su trabajo y embarcarse en un viaje a vela por el Atlántico. - <strong>Reinvención como Ingeniero de Mega Yates:</strong> Tras cruzar el océano, encontró su verdadera vocación como ingeniero de mega yates, combinando su amor por el mar con sus habilidades técnicas. El viaje por el Atlántico fue solo el comienzo de una emocionante nueva fase en su vida. ¡Mantente atento para conocer más sobre su viaje para convertirse en capitán!
        </p>
        <p>
          <strong>De Ingeniero a Capitán</strong> <strong>Asunto: El Viaje de Capitán Brush para Enseñar Navegación</strong> Estimados navegantes, en el boletín de hoy compartimos cómo Capitán Brush pasó de ser un ingeniero de mega yates a convertirse en capitán y comenzar a enseñar a otros a navegar. <strong>El Ascenso a Capitán:</strong> - <strong>Experiencia en Mega Yates:</strong> A través de años de trabajo duro y aprendizaje constante, Capitán Brush ascendió en las filas de la tripulación de mega yates. - <strong>Certificación de Capitán:</strong> Completó rigurosos cursos y certificaciones para finalmente obtener su licencia de capitán. - <strong>Enseñanza de Navegación:</strong> Con su conocimiento y experiencia, decidió compartir su pasión por el mar enseñando a otros a navegar. La enseñanza se ha convertido en una de las mayores satisfacciones de Capitán Brush, ayudando a otros a encontrar su camino en el vasto océano.
        </p>
        <p>
          <strong>La Libertad Financiera de Capitán Brush</strong> Estimados navegantes, hoy profundizamos en la historia de cómo Capitán Brush alcanzó la libertad financiera y ahora disfruta de una vida plena en su finca de frutas tropicales. <strong>Viviendo Sus Sueños:</strong> - <strong>Planificación Financiera:</strong> A lo largo de su carrera, Capitán Brush hizo inversiones inteligentes y ahorró estratégicamente. - <strong>Finca de Frutas Tropicales:</strong> Con su libertad financiera, adquirió una hermosa finca donde cultiva una variedad de frutas tropicales. - <strong>Vida Equilibrada:</strong> Ahora, disfruta de un equilibrio perfecto entre sus pasiones y su vida en el mar. La libertad financiera ha permitido a Capitán Brush vivir una vida que muchos solo pueden soñar. ¡Sigue leyendo para conocer más sobre sus consejos y experiencias!
        </p>
      </article>
    </section>
  </div>
</MainLayout>
