<main>
  <div
    class="mx-auto flex max-w-screen-lg flex-col items-center pb-16 pt-24 text-center"
  >
    <p>Last updated on July 26, 2024</p>
    <h1 class="heading-3 sm:heading-2 pb-10 pt-3">Sobre Capitán Brush</h1>
  </div>
  <div>
    <section class="grid-container">
      <article>
        <p>
          These terms of service apply to your access and use of the
          Capitanbrush website. Please read them carefully.
        </p>
      </article>
    </section>
  </div>
</main>
