---
// Importa los componentes necesarios
import ExternalLayout from "@/layouts/ExternalLayout.astro";
---
<ExternalLayout>
    <div
      class="mx-auto flex max-w-screen-lg flex-col items-center pb-16 pt-24 text-center"
    >
      <p>Last updated on July 26, 2024</p>
      <h1 class="heading-3 sm:heading-2 pb-10 pt-3">Política de privacidad</h1>
    </div>
    <div>
      <section class="grid-container">
        <article>
         
          <h3>Aceptación de la política de privacidad</h3>
          <p>
            El curso incluye la inclusión en la base de datos de CapitanBrush ÖU de los datos del alumno, los cuales puede solicitar su eliminación mediante un correo a <a
              href="mailto:captianbrush@gmail.com">capitanbrush at gmail punto com</a
            > con el asunto “eliminar datos”.
          </p>
          
          <p>
            El curso incluye el envío de un *newsletter* informativo con consejos de navegación, ingeniería, finanzas y trabajo en mega yates.
          </p>
          
        </article>
      </section>
    </div>
  </ExternalLayout>
  