---
// Importa los componentes necesarios
import ExternalLayout from "@/layouts/ExternalLayout.astro";
---
<ExternalLayout>
  <div
    class="mx-auto flex max-w-screen-lg flex-col items-center pb-16 pt-24 text-center"
  >
    <p>Last updated on July 26, 2024</p>
    <h1 class="heading-3 sm:heading-2 pb-10 pt-3">Términos y Condiciones</h1>
  </div>
  <div>
    <section class="grid-container">
      <article>
        <p>
          Estos términos de servicio se aplican a su acceso y uso del
          Sitio web de Capitán Brush. Por favor léalos atentamente.
        </p>
        <h3>Aceptación de los Términos</h3>
        <p>
          El precio del curso no es reembolsable.
          El acceso a los materiales online se otorga al alumno hasta que consiga su primer empleo.
          Toda distribución, copia, plagio, o acceso no autorizado ni consensuado con el mentor de cualquier [contenido] del curso, incluyendo el contenido en los bloques, los vídeos, la mentoría, los contactos y los archivos adjuntos, queda expresamente prohibido y será penado con un pago 100 veces superior al valor del material cuyos derechos sea hayan infringido.
          La mentoría online se puede reagendar acordándolo con el mentor con al menos 3 días de antelación.
          Tras la mentoría y durante el tiempo que el alumno esté buscando su primer empleo, se ofrece soporte por *whatsapp* para consultas puntuales.
          <a
            href="mailto:captianbrush@gmail.com">capitanbrush@gmail.com</a
          >.
        </p>
        <h3>Changes to these Terms</h3>
        <p>
          Nos reservamos el derecho a modificar estos términos y condiciones en cualquier momento.
          En caso de realizar cambios, estos serán efectivos a los dos días tras su publicación.
          Es tu responsabilidad revisar estos términos.
        </p>
        <p>
          Si aceptas utilizar el servicio, entonces aceptas los cambios realizados.
          
        </p>
        <h3>Política de Privacidad</h3>
        <p>
          Para obtener información sobre cómo recopilamos y utilizamos información sobre los usuarios
          del Servicio, consulte nuestra <a href="/privacy/">política de privacidad</a
          >.
        </p>
        <h3>Servicios de terceros</h3>
        <p>
          De vez en cuando, podemos proporcionarle enlaces a terceros
          sitios web o servicios que no son de nuestra propiedad ni controlamos. Su uso del
          El servicio también puede incluir el uso de aplicaciones desarrolladas o
          propiedad de un tercero. Su uso de dichas aplicaciones de terceros,
          sitios web y servicios se rigen por los propios términos de contrato de esa parte.
          políticas de servicio o privacidad. Le animamos a leer los términos y
          Condiciones y política de privacidad de cualquier aplicación o sitio web de terceros.
          o servicio que usted visita o utiliza.
        </p>
       
        <h3>Información de contacto</h3>
        <p>
          Las preguntas o comentarios sobre el Servicio pueden dirigirse a nosotros en el
          dirección de correo electrónico <a href="mailto:captianbrush@gmail.com"
            >capitanbrush at gmail punto com</a
          >
        </p>
      </article>
    </section>
  </div>
</ExternalLayout>
