---

import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";

const title: string = "Estás a un paso de cambiar tu vida";
const subTitle: string = "Navega por el mundo mientras llenas tu cartera, visitas sitios únicos. ¡Embárcate y empieza una nueva vida!";
const formTitle: string = "Completa el formulario";
const formSubTitle: string = "Nos pondremos en contacto contigo en 1 día hábil.";

---

<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1 class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight">
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
      <h2 class="mb-8 text-xl font-bold text-neutral-700 dark:text-neutral-300">
        {formTitle}
      </h2>
      <form method="POST" id="contact-form">
        <div class="grid gap-4">
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <input
              type="text"
              required
              name="firstname"
              id="firstname"
              class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
              placeholder="Nombre"
            />
            <input
              type="text"
              required
              name="lastname"
              id="lastname"
              class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
              placeholder="Apellidos"
            />
          </div>
          <div>
            <input
              type="email"
              required
              name="email"
              id="email"
              class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
              placeholder="Email"
              aria-describedby="email-error"
            />
            <span id="email-error" class="text-red-600 text-sm hidden">Por favor, ingresa un email válido.</span>
          </div>
          <div>
            <input
              type="tel"
              name="phone"
              required
              id="phone"
              minlength="10"
              pattern="[0-9]{10,}"
              class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
              placeholder="Número de teléfono"
              aria-describedby="phone-error"
            />
            <span id="phone-error" class="text-red-600 text-sm hidden">Por favor, ingresa un número de teléfono válido con al menos 10 dígitos.</span>
          </div>
      
          <div class="grid space-y-3">
            <div class="relative flex items-start">
              <div class="mt-1 flex h-5 items-center">
                <input
                  id="checkbox-tyc"
                  name="checkbox-tyc"
                  type="checkbox"
                  onchange="cambiarCondiciones()"
                  class="text-blue-600 focus:ring-blue-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 rounded border-gray-200 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-neutral-800 dark:focus:ring-offset-gray-800"
                  aria-describedby="checkbox-tyc-description"
                />
              </div>
              <label for="checkbox-tyc" class="ms-3">
                <span class="block text-sm font-semibold text-gray-800 dark:text-neutral-300">
                  Acepto los <a href="terms" target="_blank"> términos </a>
                  <a href="privacy" target="_blank"> y la política de privacidad</a>
                </span>
              </label>
            </div>
      
            <div class="relative flex items-start">
              <div class="mt-1 flex h-5 items-center">
                <input
                  id="checkbox-ads"
                  name="checkbox-ads"
                  type="checkbox"
                  class="text-blue-600 focus:ring-blue-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 rounded border-gray-200 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-neutral-800 dark:focus:ring-offset-gray-800"
                  aria-describedby="checkbox-ads-description"
                />
              </div>
              <label for="checkbox-ads" class="ms-3">
                <span class="block text-sm font-semibold text-gray-800 dark:text-neutral-300">
                  Suscribirse a la newsletter
                </span>
              </label>
            </div>
          </div>
      
          <div class="mt-4 grid">
            <AuthBtn title="Me apunto" id="btn" name="btn" disabled />
          </div>
        </div>
      </form>
      
      
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          const form = document.getElementById("contact-form") as HTMLFormElement;
          const tyc = document.getElementById("checkbox-tyc") as HTMLInputElement;
          const enviar = document.getElementById("btn") as HTMLButtonElement;
          const emailInput = document.getElementById("email") as HTMLInputElement;
          const phoneInput = document.getElementById("phone") as HTMLInputElement;
      
          function mostrarErrores() {
            // Mensaje de error para el email
            const emailError = document.getElementById("email-error") as HTMLSpanElement;
            if (emailInput.validity.typeMismatch) {
              emailError.textContent = "Por favor, ingresa un email válido.";
              emailError.classList.remove("hidden");
            } else {
              emailError.classList.add("hidden");
            }
      
            // Mensaje de error para el teléfono
            const phoneError = document.getElementById("phone-error") as HTMLSpanElement;
            if (phoneInput.validity.patternMismatch || phoneInput.validity.tooShort) {
              phoneError.textContent = phoneInput.validity.patternMismatch ? 
                "Por favor, ingresa un número de teléfono válido con al menos 10 dígitos." :
                "El número de teléfono debe tener al menos 10 dígitos.";
              phoneError.classList.remove("hidden");
            } else {
              phoneError.classList.add("hidden");
            }
          }
      
          // Función para actualizar el estado del botón
          function cambiarCondiciones() {
            enviar.disabled = !tyc.checked;
          }
      
          // Agregar eventos
          tyc.addEventListener('change', cambiarCondiciones);
          emailInput.addEventListener('input', mostrarErrores);
          phoneInput.addEventListener('input', mostrarErrores);
      
          // Establecer el estado inicial del botón y mostrar mensajes de error
          cambiarCondiciones();
          mostrarErrores();
        });
      </script>
      
      
      
    </div>
  </div>
</section>
